.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
}

.close {
    color: #aaa;
    background-color: #fffffa;
    border-radius: 10px;
    border: 1px solid lightgray;
    float: right;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.close:hover,
.close:focus {
    color: black;
    background-color: #888;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content form input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}